app/**/*.js
app/*.js
app/*.js.map
app/**/*.js.map
typings/*
node_modules/*
npm-debug.log
bs.config.json~
.idea/**/*
TPL-Framework.iml
*~
/polymer_elements/bower_components/*
node_modules/
polymer_elements/bower_components/
